* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Serif;
    src: url(../fonts/PTSerif-Regular.ttf);
    font-family: Quicksand;
    src: url(../fonts/Quicksand-VariableFont_wght.ttf);
}

html,
body {
    height: 100%;
    font-family: Quicksand, Serif;
    max-width: 1920px;
    margin: 0 auto;
}
header,
section {
    text-align: center;
}
.button .btn_tertiary{
    margin-top: 15px;
    line-height: 50px;
    width: 165px;
    height: 50px;
    border-radius: 25px;
    background-color: #0063dd;
    text-align: center;
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid transparent;
}
.button .btn_tertiary:hover {
    text-decoration: none;
    color: #0f7bff;
    font-weight: 600;
    width: 165px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #0f7bff;
    background-color: #ffffff;
}
.input_file {
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1
}
h1 {
    margin-bottom: 15px;
}
p {
    margin-bottom: 5px;
}
input {
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 1% 1% 1% 1%;
    margin-bottom: 10px;
}
button {
    margin-top: 15px;
    width: 90px;
    height: 40px;
    border-radius: 9px;
    background-color: #0063dd;
    text-align: center;
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    border: 2px solid transparent;
    margin-left: 10px;
}